<%- include("partials/header"); -%>

<form method="post" action="/login">
  <label for="email">Email</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Submit</button>
</form>



<%- include("partials/footer"); -%>